<div id="closed-day-form">
  <%= form_with model: @cloak, url: closed_days_path, method: :post do |cloak| %>
  <div id="day-form-container">
    <div class="day-form">
      <%= cloak.fields_for :closed_days do |day| %>
      <%= day.select :closed_day, ClosedDay.closed_days.keys, name: "#{day.index}" %>
      <% end %>
    </div>
  </div>
    <%= cloak.submit '定休日を登録' %>
    <% end %>
    <button id="add-day-form" onclick="addDayForm()">定休日を追加</button>
</div>

<script>
function addDayForm(){
    num = $("select").length -1;
    clone = $(`#cloak_closed_days_attributes_${num}_closed_day`).clone();
    customName = clone.attr('name', `cloak[closed_days_attributes][${num + 1}][closed_day]`)
    customNameId = customName.attr('id', `cloak_closed_days_attributes_${num + 1}_closed_day`)
    $("#day-form-container").append(customNameId)
}
</script>
