// Place all the styles related to the Public::Cloaks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (max-width:414px) {
    #public-cloak-map {
        width: 100%;
        height: 600px;
    }

    .cloak-search {
        padding-top: 11%;
    }

    .cloak-info {
        display: flex;
        align-items: center;
        padding-left: 2%;
    }

    .cloak_name {
        font: -webkit-control;
    }

    #cloak-location-index {
        width: 100%;
        padding-top: 20%;
        justify-content: center;
        text-align: center;
    }


    #get-cloak-route-button {
        font-size: small;
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #00bcd4;
        transition: .4s;
        margin-right: 2%;
        white-space: nowrap
    }

    #get-cloak-route-button:hover {
        background: #1ec7bb;
    }

    #cloak-location-show {
        padding-top: 20%;
        text-align: center
    }

    .cloak-img {
        width: 90%;
    }

    #cloak-name-container {}

    .cloak-name {
        font-weight: bolder;
    }

    .cloak-name-label {
        color: #999999;
    }

    .cloak-phone-number-container {
        padding-top: 2%;
    }

    .cloak-phone-number-label {
        color: #999999;
    }

    .cloak-phone-number {
        font-weight: bolder;
    }

    .cloak-address-container {
        padding-top: 2%;
    }

    .cloak-address-label {
        color: #999999;
    }

    .cloak-address {
        font-weight: bolder;
    }

    .cloak-description-container {
        padding-top: 2%;
    }

    .cloak-description-label {
        color: #999999;
    }

    .cloak-description {
        font-size: medium;
        padding-left: 2%;
        padding-right: 2%;
        overflow-wrap: break-word;
    }

    .cloak-time {
        padding-right: 1%;
        color: #CCCCCC;
        font-size: small
    }

    .reserve-button {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #f7f7f7;
        color: #668ad8;
        font-weight: bold;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        margin: 4%;
    }

    .cloak-location-button {
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #00bcd4;
        transition: .4s;
        margin-right: 2%;
        white-space: nowrap;
    }

    .cloak-location-button:hover {
        background: #1ec7bb;
    }

    .body-cloak {
        padding: 4%;
    }

    .cloak-phone-number-smo {
        display: flex;
    }

    .cloak-phone-number-label {
        color: #999999;
    }

    .cloak-phone-number-label-search {
        padding-left: 5%;
        font-size: x-small;
        color: #CCCCCC;
    }

    .cloak-phone-number-search {
        padding-left: 5%;
        font-size: xx-small;
    }

    .cloak-ad-tel-container {
        align-items: center;
    }

    .cloak-address-container-search {
        display: flex;
    }

    .public-alert {
        padding-bottom: 4%;
    }

    .time-cloak-search-public {
        text-align: end;
        font-size: xx-small;
        padding-right: 4%;
        color: #CCCCCC;

    }

    #public-cloak-output {
        text-align: initial;
        padding: 2%;
        font-family: monospace;
    }

    #get-public-cloak-map-button {
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #00bcd4;
        transition: .4s;
        margin-right: 2%;
    }

    .cancel-container {
        text-align: end;
        padding-right: 5%;
    }

    .public-cloak-location-window {
        font-size: initial;
        padding-bottom: 2%;
    }

    .smoking-location-window {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: initial;
    }
}
