<div id="smo-main">
  <div class="official-cloak-location-index"></div>
    <div class="save-button-official">
      <p>
        <button id="create-cloak-location-button" onclick="createCloakLocation()" type="button" >現在地に店舗を登録</button>
      </p>
    </div>
  <div id="cloak-output"></div>
  <%= render partial: 'official/cloak_locations/form',locals: {cloak_location: @cloak_location, cloak: @cloak} %>
  <div id="cloak-map" class=""></div>
  <div id="smoking-location-shows">
    <div id="smoking-location-shows-container"></div>
  </div>
  <div id="location-smoking-posts">
    <div id="search-result-container"></div>
  </div>
</div>
</div>
</div>


<script>
window.onload = getMap();
function getMap(){
    confirmBrowser();
    function success(position){
      var parseJson = function(jsonString) {
      var converted = convertNl(jsonString);
      return JSON.parse(converted);
    　};

      var convertNl = function(jsonString) {
      return jsonString
      .replace(/(\r\n)/g, '\n')
      .replace(/(\r)/g,   '\n')
      .replace(/(\n)/g,  '\\n');
      };
        var cloakLocations = parseJson('<%= raw @cloak_locations %>')
        var cloaks = parseJson('<%= raw @cloaks %>')
        var latitude = position.coords.latitude
        var longitude = position.coords.longitude
        var latlng = new google.maps.LatLng(latitude, longitude);
        var map = new google.maps.Map(document.getElementById('cloak-map'), {
            zoom: 17, center: latlng,
        });
        cloakLocations.forEach(function(cloakLocation){
                markers = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(cloakLocation.latitude, cloakLocation.longitude),
            });
            cloakInfo = $.grep(cloaks, function(elem, index){
              return elem.id === cloakLocation.cloak_id
            });
            infoWindow = new google.maps.InfoWindow({
                content: `<p id="info-window-click">店名クリック</p><p class="smoking-location-window" onclick="cloakShow()" data-id=${cloakLocation.cloak_id}>${cloakInfo[0].cloak_name}</p>`
            });
            markers.addListener('click', function() { // マーカーをクリ
            if($(".gm-style-iw.gm-style-iw-c").length > 0){
              $(".gm-style-iw.gm-style-iw-c").remove();
              $(".gm-style-iw-t").remove();
            }
            infoWindow.open(map, markers);
            });
        });
        new google.maps.Marker({
          map: map, position: latlng,
          animation: google.maps.Animation.BOUNCE,
          zIndex: 2,
          icon: {
            path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
            scale: 4,
            strokeColor: '#0099FF',
            fillColor: "#0099FF",
            fillOpacity: 1.0,
          },
        });
    }
            function error(){
            output.innerHTML = "現在地を取得できません";
             }
    navigator.geolocation.getCurrentPosition(success, error);
}

function createCloakLocation(){
  confirmBrowser();
  function saveSuccess(position) {
    var latitude  = position.coords.latitude;//緯度
    var longitude = position.coords.longitude;//経度
    var title = $("#smoking-post-title").val();
    var body = $("#smoking-post-body").val();
    $.ajax({
      url: "/official/cloak_locations/new",
      type: "GET",
      data: {latlong: {longitude: longitude, latitude: latitude}},
    }).done(function(data){
      $("#cloak-location-latitude").val(data.latitude);
      $("#cloak-location-longitude").val(data.longitude);
      CloakLocationFormDisplay();
    })
  };
  function saveError() {
    output.innerHTML = "現在地を取得できません";
  };
  navigator.geolocation.getCurrentPosition(saveSuccess, saveError);//成功と失敗を判断
};

function cloakShow(){
  $("#search-result-container").empty();
  $("#location-smoking-posts").css('display','none');

  $("#smoking-location-shows").off('scroll')
  $("#smoking-location-shows-container").empty()

  $("#smoking-location-shows-container").append('<button class="remove-display" onclick="removeDisplayOfficialCloak()">閉じる</button>')

  $("#smoking-location-shows").css({
      width: '80%',
      height: '80%',
      position: 'absolute',
      top: '10%',
      left: '0',
      right: '0',
      margin: '0 auto',
      overflow: 'auto',
      display: 'block',
      'text-align': 'center',
      'background-color': '#fff',
      'box-shadow': '10px 10px 10px 10px rgba(0, 0, 0, 0.4)',
    });
    id = $('.smoking-location-window').data().id;
    $.ajax({
        url: "/official/cloaks/" + id,
        type: "GET",
        data: {},
    }).done(function(data){
        display = $(data).filter("#cloak-show-container")
        $("#smoking-location-shows-container").append(display)
    })
}

function removeDisplayOfficialCloak(){
  $("#smoking-location-shows-container").empty()
  $("#smoking-location-shows").css('display', 'none')
}

function CloakLocationFormDisplay(){
  $("#cloak-location-form").css('display', 'block')
  $("#create-cloak-location-button").css('display', 'none')
}

function confirmBrowser(){
    $("#cloak-output").empty();
    if(!navigator.geolocation){
    $("#cloak-output").html("<p>EasyToFindはあなたのブラウザーでサポートされていない可能性があります</p>");
    return;
  };
};
</script>
