<div class="cloak-calendar-public">
  <div class="public-cloak-name-container">
    <div class="cloak-name-label-public">店名前: </div>
    <p class="cloak-name-reserve"><%= @cloak.cloak_name %></p>
  </div>
  <div id="calendar-public"></div>
</div>
