<div id="smoking-post-search-form">
<%= search_form_for q, url: smoking_search_path, remote: true, html: {method: :get} do |f| %>
  <%= f.search_field :address_cont %>
  <%= f.submit %>
<% end %>
</div>
