<div id="smoking-post-search-form">
<%= form_with url: smoking_search_path, html: {method: :get} do |f| %>
  <%= f.text_field :address_cont %>
  <%= f.submit onclick: "searchLocation()", type: "button"%>
<% end %>
</div>
