<div id="output"></div>
  <p><button id="save-my-location-button" onclick="saveMyLocation()" type="button" >投稿する</button></p>
<%= render partial: 'public/smoking_posts/form',locals: {location: @location, smoking_post: @smoking_post} %>
<div id="map" style="width:100%;height:300px;"></div>



<script>
window.onload = function(){
  confirmBrowser();
  function success(position) {
    var locations = JSON.parse('<%= raw @locations%>');
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    var latlng = new google.maps.LatLng(latitude, longitude);
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17, center: latlng,
    });
    new google.maps.Marker({
      map: map, position: latlng,
    });

    locations.forEach(function(location){
      var markers = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(location.latitude, location.longitude),
      });
      var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
        content: location.address
      });
      markers.addListener('click', function() { // マーカーをクリ
        infoWindow.open(map, markers); // 吹き出しの表示
      });
    });
  };
  function error(){
    output.innerHTML = "現在地を取得できません";
  };
  navigator.geolocation.getCurrentPosition(success, error);
};

function saveMyLocation() {

  confirmBrowser();

  function saveSuccess(position) {
    postFormDisplay();
    var latitude  = position.coords.latitude;//緯度
    var longitude = position.coords.longitude;//経度
    var title = $("#smoking-post-title").val();
    var body = $("#smoking-post-body").val();
    const url = "http://geoapi.heartrails.com/api/json?method=searchByGeoLocation&x=" + longitude + "&y=" + latitude + "&jsonp=?";

    $.getJSON(url, function(jsonp){
      var areaInfo = jsonp.response.location[0];
      var areaInfoStr = areaInfo.prefecture + areaInfo.city + areaInfo.town;
      $("#location-address").val(areaInfoStr);
    });

    $.ajax({
      url: "/locations/new",
      type: "GET",
      data: {latlong: {longitude: longitude, latitude: latitude}},
    }).done(function(data){
      $("#location-latitude").val(data.latitude);
      $("#location-longitude").val(data.longitude);
    })
  };

  function saveError() {
    output.innerHTML = "現在地を取得できません";
  };

  navigator.geolocation.getCurrentPosition(saveSuccess, saveError);//成功と失敗を判断
};

function confirmBrowser(){
    var output = document.getElementById('output');
    if(!navigator.geolocation){
    output.innerHTML = "<p>EasyToFindはあなたのブラウザーでサポートされていない可能性があります</p>";
    return;
  };
};
 $(function() {
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#post-img').attr('src', e.target.result);
          }
        reader.readAsDataURL(input.files[0]);
        }
      }
    $("#smoking-post-img").change(function(){
     readURL(this);
    });
 });
</script>
