<% if current_cloak.id == cloak.id %>
  <div class="link-to-container">
    <%= link_to '編集', edit_official_cloak_path(cloak), class: "link-to" %>
　　 <%= link_to 'レビュー', official_reviews_path, class: "link-to" %>
  </div>
<% end %>
