<div class="smoking-post-search">
<% @results.each do |result| %>
<% result.smoking_posts.each do |smoking_post| %>
<li><%= result.address %></li>
<%= smoking_post.title %>
<%= smoking_post.body %>
<% end %>
<% end %>
</div>
<%= paginate @results %>
</div>
