<div class="smoking-location-post">
<% @smoking_posts.each do |smoking_post| %>
<li><%= smoking_post.user.name %></li>
<%= smoking_post.title %>
<%= smoking_post.body %>
<% end %>
<%= paginate @smoking_posts %>
</div>
